<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>mathGPT</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <header class="header">
        <a href="mathGPT.html" class="logo"><img src="logo.png"></a>

        <nav class="navbar">
            <a href="mathGPT.html">Home</a>
            <a href="photo_it.html">Photo it!</a>
            <a href="type_it.html">Type it!</a>
            <a href="about.html">About</a>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto mt-5 text-center">
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag }}
                    {% for error in form.photo.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}

                    <div class="row justify-content-center">
                        <div class="col-auto">
                            {{ form.photo(class="form-control") }}
                        </div>
                        <div class="col-auto"></div>
                            {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>
                {% if file_url %}
                    <div class="mt-5">
                        <img src="{{ file_url }}" style="width: 400px">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    



</body>
</html>