<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>mathGPT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <a href="mathGPT.html" class="logo"><img src="{{ url_for('static', filename='logo.png') }}"></a>

        <nav class="navbar">
            <a href="mathGPT.html">Home</a>
            <a href="photoit.html">Photo it!</a>
            <a href="typeit.html">Type it!</a>
            <a href="about.html">About</a>
        </nav>
    </header>
    <div class="content">
       <h1>Welcome to MathGPT</h1>
        <h2>(not affiliated with ChatGPT)</h2>
        <p>A free calculator where you can either type or photo your math problems into itself! <br>
            <b>Get started by choosing your method of calculation!</b>
        </p>
        <button type="button"><a href="photoit.html"><span></span> Photo it. </button></a>
        <button type="button"><a href="typeit.html"><span></span> Type it.</button></a>
    </div>

</body>