<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>mathGPT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <header class="header">
        <a href="mathGPT.html" class="logo"><img src="{{ url_for('static', filename='logo.png') }}"></a>

        <nav class="navbar">
            <a href="mathGPT.html">Home</a>
            <a href="photoit.html">Photo it!</a>
            <a href="typeit.html">Type it!</a>
            <a href="about.html">About</a>
        </nav>
    </header>
    <div class="content2">
        <h1>Get started!</h1>
        <h2>What pictures can we accept?</h2>
        <img src="{{ url_for('static', filename='example.png') }}"
        width=200px
        height=auto
        class="instructions">
        <h3>Here is an example of what our model can or cannot read. 
            Make sure your picture is centered and clear. We will not read correctly if: </h3>
        <li>Handwriting is too small</li>
        <li>Numbers and operations are not clearly spaced</li>  
    </div>
    <div class="content1">
        <div class="container">
            <div class="row">
                <h2>Select a photo to upload</h2>
                <p>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                </p>
                {% if filename %}
                    <div>
                        <a class="display"><img src="{{ url_for('display_image', filename=filename) }}"
                        width=200px
                        height= auto
                        ></a>
                    </div>
                {% endif %}
                <form method="post" action="/" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <input type="file" name="file" class="form-control" autocomplete="off" required>
                        </p>
                    </dl>
                    <p>
                        <input type="submit" value="Submit" class="btn btn-info">
                    </p>
                </form>
            </div>
            </div>
    </div>
    
</body>
</html>